<!-- File: app/code/Pulsestorm/MenuTutorial/etc/adminhtml/menu.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vaimo_IntegrationUI::top_level"
             title="Vaimo"
             module="Vaimo_IntegrationUI"
             sortOrder="1"
             parent="Magento_Backend::system" resource="Magento_Backend::stores_other_settings"
        />
        <add id="Vaimo_IntegrationUI::main_ui"
             title="Integration UI"
             module="Vaimo_IntegrationUI"
             action = "adminhtml/integrationui"
             sortOrder="1"
             resource="Magento_Backend::content"
             parent="Vaimo_IntegrationUI::top_level"
        />
    </menu>
</config>